DB_HOST=localhost
DB_PORT=5433
DB_NAME=<db_name>
DB_USER=<db_user>
DB_PASSWORD=<db_password>
PGRES_CONTAINER_NAME=postgres_container

# Generate an example value with: `openssl rand -base64 64`
JWT_SECRET=<safe_jwt_secret>
